.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.category {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
