.container_blogs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container_blogs .Left {
  position: absolute;
  top: 4px;
  left: 4px;
}
.container_blogs .create_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.container_blogs .blog_form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1rem;
  justify-content: center;
}
.container_blogs .blog_form form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 15px;
}
.container_blogs .blog_form h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 24px;
  text-transform: uppercase;
}

.input-container {
  width: 100%;
}
