.input_container {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: #333;
}

.input:focus,
.input:not(:placeholder-shown) {
  border-color: #007bff;
}

label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #999;

  padding: 0 5px;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  background-color: #333;
}
