.search-container {
  margin: 20px;
}

.search-container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
form > div {
  width: 100%;
  display: flex;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  outline: none;
}
.wrapper_search .__a {
  display: flex;
  align-items: center;
  width: 100%;
}
.wrapper_search .__a {
  position: relative;
}
.wrapper_search .__a input {
  padding: 10px 1.8rem;
}
.wrapper_search .__a .icon {
  position: absolute;
  left: 2px;
  bottom: 8.6px;
}
select {
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}
option {
  height: 35px;
  background-color: #ddd;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
  }
  form .wrapper_search {
    display: flex;
    flex-direction: column;
  }

  select {
    margin-top: 10px;
    margin-left: 0;
  }
}
