@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(31 32 40/1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-style: normal;
}
h1 {
  font-size: 18px;
  line-height: 1.2;
}
p {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #a8a29e;
}
/* layout */
.outlet {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
